<html lang="en">

<head>
    <title>Sobre</title>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.3/examples/carousel/carousel.css">
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/header'); %>

        <script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/main.js"></script>
        </main>
</body>

</html>